h1 {
  font-family: SofiaProSemiBold, sans-serif;
  font-style : normal;
  font-weight: 700;
  font-size  : 48px;
  line-height: 64px;
  margin     : 0;
  text-align : center;
}

h5 {
  font-family: SofiaProRegular, sans-serif;
  font-style : normal;
  font-weight: 500;
  font-size  : 20px;
  line-height: 20px;
  margin     : 0;
  text-align : left;
  text-transform: capitalize;
}
h6 {
  font-family: SofiaProRegular, sans-serif;
  font-style : normal;
  font-weight: 100;
  font-size  : 16px;
  line-height: 16px;
  margin     : 0;
  text-align : left;
  text-transform: capitalize;
}
span {
  font-family: SofiaProRegular, sans-serif;
  font-style : normal;
  font-weight: 100;
  font-size  : 14px;
  line-height: 14px;
  margin     : 0;
  text-align : left;
  text-transform: capitalize;
}