@font-face {
    font-family: SofiaProSemiBold;
    src        : url(../../assets/fonts/Sofia-Pro/SofiaProSemiBold.ttf);
}

@font-face {
    font-family: SofiaProBold;
    src        : url(../../assets/fonts/Sofia-Pro/SofiaProBold.ttf);
}

@font-face {
    font-family: SofiaProBoldMedium;
    src        : url(../../assets/fonts/Sofia-Pro/SofiaProMedium.ttf);
}

@font-face {
    font-family: SofiaProRegular;
    src        : url(../../assets/fonts/Sofia-Pro/SofiaProRegular.ttf);
}

@font-face {
    font-family: SofiaProLight;
    src        : url(../../assets/fonts/Sofia-Pro/SofiaProLight.ttf);
}
