.products {
    &__content {
      max-width: 58rem;
      margin: 20px auto;
    }
    &__taps {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__cards__container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
      gap: 1rem;
      margin: 1rem 0;
    }
  }
  